.dashboard{
    padding: 5%;
}
.dashboard-cont{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.table-cont{
    width: 40%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.table-cont table{
width: 90%;
border: 1px solid rgb(207, 204, 204);
border-radius: 5px;
}

h1{
    color: #00bdae;
   position: relative;
}
h1:after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    right: 0;
 background-color: #012724d1;
 bottom: -8px;
 transition: 0.3s;
 
}
h1:hover:after{
    width: 25%;
}
.image-cont{
    width: 50%;
    height: 50%;

}

.dashboard-banner{
    width: 100%;
}
h2{
    font-size: 30px;
}
h5{
    font-size: 17px;
    margin: 0;
}
.dashboard-banner{
    display: flex;
    justify-content: space-between;
}
.dashboard-banner .banner-cont{
    display: flex;
    width: 23%;
    justify-content: space-around;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 100%;
    color: white;
    height: 200px;
    margin-top: 10%;
}
.banner1{
    background: linear-gradient(rgba(0, 0, 0, 0.531),rgba(0, 0, 0, 0.668)),url('../Assets/aug.jpg');
}
.banner2{
    background: linear-gradient(rgba(0, 0, 0, 0.531),rgba(0, 0, 0, 0.668)),url('../Assets/sep.jpg');
}
.banner3{
    background: linear-gradient(rgba(0, 0, 0, 0.531),rgba(0, 0, 0, 0.668)),url('../Assets/nov.jpg');
}
.banner4{
    background: linear-gradient(rgba(0, 0, 0, 0.531),rgba(0, 0, 0, 0.668)),url('../Assets/dec.jpg');
}

.dashboard-banner .banner-cont .month{
display: flex;
height: 100%;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
}
@media (max-width:1200px) {
    .dashboard-banner .banner-cont{
        display: flex;
        flex-direction: column;
    }
    .dashboard-banner .banner-cont{
height: 250px;
    }
}
@media (max-width:800px) {
    .dashboard-cont{
        flex-direction: column;
    }
    

    .table-cont{
        width: 100%;
        justify-content: center;
    }
    
    h1{
        color: #00bdae;
       position: relative;
       font-size: 25px;
    }
    
    .image-cont{
        margin-top: 5%;
        width: 100%;
    
    }
    .dashboard-banner .banner-cont{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .dashboard-banner{
        display: flex;
        flex-direction: column;
    }
    h2{
        padding-left: 5%;
    }
    .dashboard-banner .banner-cont .month{
        display: flex;
        height: 40%;
        flex-direction: column;
        align-items:end;
        padding-right: 5%;
        padding-bottom: 15%;
        text-align: start;
        justify-content: center;
        }
}

